<div class="card mt-3">
    <div class="card-body">
  
      <div class="login-form">
        <form >
            <h1>Ingresar</h1>
        
            <div class="form-group">
                <input type="email" placeholder="Correo Electronico">
            </div>
  
            <div class="form-group">
                <input type="password" placeholder="Contraseña">
            </div>
  
            <a href="#" class="forget">Olvidaste la Contraseña</a>
            <div class="login-btn">
                <button type="submit" [routerLink]="['/crear-empleado']" routerLinkActive="router-link-active" >Ingresar</button>
            </div>
  
            <div class="reg">
            <span>No eres un miembro</span><br>
            <a href="#">Registrate Ahora</a>
            </div>
        </form>
    </div>
  
    </div>
  </div>
  
