<div class="container"> 
  
    <h1>Datos Hijos</h1>
  
    <form class="row g-3" >
  
      <div class="col-md-4">
        <label for="validationServer01" class="form-label">Nombre del Hijo</label>
        <input type="text" class="form-control is-valid" id="nombreHijo">
      </div>
  
      <div class="col-md-4">
        <label for="validationServer01" class="form-label">Apellidos del Hijo</label>
        <input type="text" class="form-control is-valid" id="apellidoHijo">
      </div>
  
      <div class="col-md-4">
        <label for="validationServer01" class="form-label">Fecha Nacimieno</label>
        <input type="date" class="form-control is-valid" id="fechaNacimientoHijo">
      </div>
  
      <div class="col-12 mb-3">
        <button class="btn btn-primary" type="submit">Guardar</button>
      </div>
  
      
    </form>
  
  
  </div> 
  
  
